* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #121213;
  color: #f0f0f0
}

body,
#root {
  width: 100%;
  height: 100%;
}